* {
    box-sizing: border-box;
    font-family:" Roboto", serif;
}

body {
    min-height:100vh;
    margin:0; /*removes the extra whitespace*/
    display:flex;
    flex-direction: column;
}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    padding: 25px;
    color: #F9FAF8;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 60px;
    align-items: center;
    justify-content: space-between;

    
}
.logo {
    padding:0 15px;
}

.left, .right {
    display: flex;
    align-items: center;    
    gap:12px;
   
}

.right {
    margin-right:50px;
}
ul {
    list-style-type: none;
    display: flex;
    padding:30px;
    margin:0;
    padding:0;
    gap:16px;
}

a{
    text-decoration: none;
    color: #F9FAF8
}

.footer {
    display: flex;
    justify-content: center;
}

.section1 {
    display: flex;
    background-color: #1F2937;
    padding: 70px 20px;
    justify-content: space-around;
    border: 1px solid white;

}   

.content{
    width:  400px;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    align-items: center;
    
    border: 1px solid white;
}
h1 {
    font-size: 48px;
    font-weight:900;
}

img {
        width:500px;
        display: flex;
        align-items: center;

}