* {
    box-sizing: border-box;
}

body {
    min-height:100vh;
    margin:0; /*removes the extra whitespace*/
    display:flex;
    flex-direction: column;
   font-family:"Roboto", sans-serif;

}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    padding: 25px;
    color: #F9FAF8;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 60px;
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    padding:0 60px;
    font-size: 24px;
}

.left, .right {
    display: flex;
    align-items: center;    
    gap:12px;
   
}

.right {
    margin-right:50px;
}
ul {
    list-style-type: none;
    display: flex;
    padding:30px;
    margin:0;
    padding:0;
    gap:16px;
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color: #F9FAF8
}

.footer {
    display: flex;
    justify-content: center;
}

.section1 {
    display: flex;
    background-color: #1F2937;
    padding: 70px 0;
    justify-content: space-around;
    align-content: center;
   

}   


.content{
    width:  500px;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    align-items: flex-start;
    padding:0 20px;

}

.content h1 {
    font-size: 48px;
    font-weight:900;
    margin:0;
}

.image-scara {
    width:500px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.image-hero {
    width:500px;
    height:auto;

}
.first-signup, .second-signup{
    background-color:#3882F6;
    color: #E5E7EB;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    border-color: transparent;
     cursor: pointer;
}

.first-signup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
}

/*Section2 */
.section2 {
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:90px;
   
}

.title-desc{
    font-size:36px;
    font-weight: 900;
    color:#1F2937;
    display: flex;
    padding:40px;
    justify-content: center;
}

.card{
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 200px;
    margin:10px;

}

.pic {
    border: 5px solid #3882F6;

}
img .card{
    width:100px;
    height:100px;
    flex-wrap: wrap;
    overflow: hidden;

}
.text {
    display: flex;
    flex-direction: column;
    border:1px solid blue;
}

